{% extends 'catalog/base_generic.html' %}

{% block title %}Recent Orders{% endblock %}

{% block content %}
<h2>Recent Orders</h2>

<!-- Check if there are any orders to display -->
{% if recent_orders_list %}
<div class="orders-list">
    {% for order in recent_orders_list %}
    <div class="order">
        <h3>Order Number: {{ order.sales_order_number }}</h3>
        <p>Date: {{ order.order_date_actual|date:"F d, Y" }}</p>
        <p>Total Products: {{ order.order_quantity }}</p>
        <p>Total Cost: ${{ order.extended_amount }}</p>
        <!-- More order details can be added here -->
        <p>
            <a href="{% url 'product-detail' order.product.pk %}">
                View Product Details
            </a>
        </p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>You have no recent orders.</p>
{% endif %}
{% endblock %}