{% extends 'base_generic.html' %}

{% block content %}
<h2>My Shipped Orders</h2>
{% if shipped_orders %}
<ul>
    {% for order in shipped_orders %}
    <li>
        Order Number: {{ order.sales_order_number }}<br>
        Product: {{ order.product.english_product_name }}<br>
        Order Date: {{ order.order_date_actual|date:"F d, Y" }}<br>
        Shipped Date: {{ order.ship_date_actual|date:"F d, Y" }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You have no shipped orders.</p>
{% endif %}
{% endblock %}